<h2>Welcome to Pizza Shop.</h2>

<div class="row">

<% @product.each do |p| %>
<div class="col-md-3">


  <%= p.title %> </br>
  <img src="<%= p.path_to_image %>" />


</div>
<% end %>
</div>

<button type="button" class="btn btn-primary" onclick="something()">Click me!</button>
