<h2>Welcome to Pizza Shop.</h2>

<div class="row">

<% @product.each do |p| %>
<div class="col-md-3">


  <%= p.title %> </br>

  <img src="<%= p.path_to_image %>"width="200" height="200" /> </br>

  Price:  <%= p.price %> rur </br>
  Size:  <%= p.size %> </br>

  <p>
    <button type="button" class="btn btn-success btn-xs">Add to card</button>
  </p>





</div>
<% end %>
</div>

</br>
</br>

<button type="button" class="btn btn-primary" onclick="something()">Click me!</button>
